@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.container-fluid {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.border {
  border: 2px solid #3c3c3c;
  border-width: 0 2px 2px 2px;
}

.hero {
  background-image: url(../images/hero-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 929px;
}

.hero .hero-text {
  padding-top: 250px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 583px;
  margin: 0 auto;
  color: #ffffff;
  font-family: Lato;
  text-transform: uppercase;
  text-align: center;
}

.hero .hero-text .logo {
  width: 65px;
  height: 69px;
}

.hero .hero-text h1 {
  margin-top: 52px;
  margin-bottom: 53px;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 8.62px;
}

.hero .hero-text p {
  font-size: 15px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.9px;
}

.hero .hero-text .hero-scroll-down {
  margin-top: 180px;
}

.about-us {
  padding-top: 150px;
  position: relative;
}

.about-us h2 {
  position: absolute;
  top: 130px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-family: Lato;
  color: #3c3c3c;
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.95px;
  padding-bottom: 50px;
  width: 900px;
}

.about-us h2::before {
  content: "";
  border-top: 2px solid #3c3c3c;
  flex-grow: 1;
  margin-right: 100px;
}

.about-us h2::after {
  content: "";
  border-top: 2px solid #3c3c3c;
  flex-grow: 1;
  margin-left: 100px;
}

.about-us .about-us-text {
  padding: 50px;
  width: 556px;
  margin: 0 auto;
  text-align: center;
  color: #3c3c3c;
  font-family: Lato;
  height: 100%;
}

.about-us p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.about-us p:nth-child(2) {
  margin-top: 30px;
}

.services {
  padding: 100px 0;
  margin-top: 100px;
  color: #ffffff;
  background-image: url(../images/services-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  font-family: Lato;
  position: relative;
}

.services h2 {
  position: absolute;
  top: 80px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 900px;
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.95px;
}

.services h2::before {
  content: "";
  border-top: 2px solid #ffffff;
  flex-grow: 1;
  margin-right: 100px;
}

.services h2::after {
  content: "";
  border-top: 2px solid #ffffff;
  flex-grow: 1;
  margin-left: 100px;
}

.services .border {
  border-color: #ffffff;
}

.services .border .services-text {
  padding: 60px;
  text-align: center;
}

.services .border .services-text p {
  width: 556px;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  line-height: 25.89px;
  margin: 0 auto;
}

.what-we-do {
  padding: 100px 0;
  position: relative;
}

.what-we-do h2 {
  color: #3c3c3c;
  font-family: Lato;
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.95px;
  position: absolute;
  top: 80px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 900px;
}

.what-we-do h2::before {
  content: "";
  border-top: 2px solid #3c3c3c;
  flex-grow: 1;
  margin-right: 100px;
}

.what-we-do h2::after {
  content: "";
  border-top: 2px solid #3c3c3c;
  flex-grow: 1;
  margin-left: 100px;
}

.what-we-do .what-we-do-sections {
  padding-top: 100px;
  color: #3c3c3c;
  text-align: center;
}

.what-we-do .what-we-do-sections .info {
  margin: 0 auto;
  width: 556px;
  color: #3c3c3c;
  font-family: Lato;
}

.what-we-do .what-we-do-sections .info img {
  transition: 0.4s;
}

.what-we-do .what-we-do-sections .info img:hover {
  transform: scale(1.1);
}

.what-we-do .what-we-do-sections .info h3 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5.26px;
  padding: 40px 0;
}

.what-we-do .what-we-do-sections .info p {
  font-size: 14px;
  font-weight: 300;
  line-height: 25.89px;
  padding-bottom: 100px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery .item {
  flex-grow: 1;
  width: 25%;
  height: 250px;
  margin: 5px;
  position: relative;
  transition: 0.4s;
}

.gallery .item span {
  color: #ffffff;
  font-family: Lato;
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.95px;
  position: absolute;
  bottom: 40px;
  left: 40px;
}

.gallery .item:hover {
  flex-grow: 2;
  cursor: pointer;
}

.gallery .top-left {
  background-image: url(../images/gallery-top-left.png);
  background-size: cover;
  margin-left: 0;
}

.gallery .top-mid {
  background-image: url(../images/gallery-top-mid.png);
  background-size: cover;
}

.gallery .top-right {
  background-image: url(../images/gallery-top-right.png);
  background-size: cover;
  margin-right: 0;
}

.gallery .bot-left {
  background-image: url(../images/gallery-bot-left.png);
  background-size: cover;
  margin-left: 0;
}

.gallery .bot-mid {
  background-image: url(../images/gallery-bot-mid.png);
  background-size: cover;
}

.gallery .bot-right {
  background-image: url(../images/gallery-bot-right.png);
  background-size: cover;
  margin-right: 0;
}

.contact-us {
  margin-top: 100px;
  position: relative;
}

.contact-us h2 {
  color: #3c3c3c;
  font-family: Lato;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4.76px;
  position: absolute;
  top: -19px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 900px;
}

.contact-us h2::before {
  content: "";
  border-top: 2px solid #3c3c3c;
  flex-grow: 1;
  margin-right: 100px;
}

.contact-us h2::after {
  content: "";
  border-top: 2px solid #3c3c3c;
  flex-grow: 1;
  margin-left: 100px;
}

.contact-us .contact-us-content {
  font-family: Lato;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  padding: 50px 100px;
}

.contact-us .contact-us-content p {
  color: #3c3c3c;
  font-weight: 300;
  line-height: 25.89px;
  width: 530px;
  margin: 0 auto;
}

.contact-us .contact-us-content button {
  margin-top: 40px;
  width: 395px;
  height: 58px;
  border: 2px solid #3c3c3c;
  background-color: #3c3c3c;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.54px;
  cursor: pointer;
  transition: .4s;
}

.contact-us .contact-us-content button:hover {
  transform: translateY(-4px);
  box-shadow: 2px 4px 4px rgba(60, 60, 60, 0.6);
}

.footer {
  margin: 60px 0;
}

.footer .footer-content {
  text-align: center;
}

.footer .footer-content img {
  vertical-align: middle;
  padding-right: 40px;
}

.footer .footer-content span {
  color: #3c3c3c;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  vertical-align: middle;
}
/*# sourceMappingURL=style.css.map */